<div class="field">
  {{label "name" "Category Name"}}
  {{input "name" category.name placeholder="Category Name"}}
</div>
<div class="field">
  {{label "description" "Category Description"}}
  {{input "description" category.description placeholder="Category Description"}}
</div>
<div class="field">
  {{submit "submit" "Submit" class="ui large blue icon button"}}
  <a class="ui large red icon button" href="/category">Kembali</a>
</div>
