<div class="field">
  {{label "ipv4_addr" "IPv4 Address"}}
  {{input "ipv4_addr" computer.ipv4_addr placeholder="IP v4 Address"}}
</div>
<div class="field">
  {{label "name" "Computer Name"}}
  {{input "name" computer.name placeholder="Computer Name"}}
</div>
<div class="field">
  {{label "lab_idlab" "Lab"}}
  {{select "lab_idlab" labs computer.lab_idlab}}
</div>
<div class="field">
  {{label "category_idcategory" "Category"}}
  {{select "category_idcategory" categories computer.category_idcategory}}
</div>
<div class="field">
  {{submit "submit" "Submit" class="ui large blue icon button"}}
  <a class="ui large red icon button" href="/computer">Kembali</a>
</div>
