<div class="field">
  {{label "name" "Laboratory Name"}}
  {{input "name" lab.name placeholder="Laboratory Name"}}
</div>
<div class="field">
  {{label "description" "Lab Description"}}
  {{input "description" lab.description placeholder="Lab Description"}}
</div>
<div class="field">
  {{submit "submit" "Submit" class="ui large blue icon button"}}
  <a class="ui large red icon button" href="/lab">Kembali</a>
</div>
